extends layout

block content  
  div#project-list.span3
    h3 proyectos | projects
    ul
      -var prjs = _.chain(contents.projects._.directories).map(function(item){
      -    return item.index
      -  }).compact().sortBy(function(item){
      -    return -item.metadata.year
      -    }).value()
      each prj in prjs
        li 
          a(href=prj.url)= prj.title

  div#bio.span6
    h3 nosotros | about us
    div.bio-inner
      != page.html

    h3 contacto | contact
    div.inner
      ul
        li 
          a(mailto='cmart@decolector.net') cmart@decolector.net
        li 
          a(mailto='zea@randomlab.net') zea@randomlab.net

    h3 cv
    div.inner
      ul
        li
          a(href='https://github.com/martinez-zea/cv/raw/master/build/spanish/martinez-zea.pdf') espa&ntilde;ol
        li
          a(href='https://github.com/martinez-zea/cv/raw/master/build/english/martinez-zea-eng.pdf') english

    h3 links
    div.inner
      ul
        li
          a(href='http://martinez-zea.info/wiki/') wiki
        li
          a(href='https://github.com/organizations/martinez-zea') github
        li 
          a(href='https://secure.flickr.com/photos/nerd_bots') flickr
        li
          a(href='http://vimeo.com/user1747692') vimeo
