extends layout

block head_extra
  link(rel='stylesheet', href='/static/css/jquery.lightbox-0.5.css')

block script_extra
  script(src='/static/lib/jquery.lightbox-0.5.min.js')
  script
    $(document).ready(function(){
      $('#project-images a').lightBox({
        imageLoading: '/static/img/loading.gif',
        imageBtnClose: '/static/img/close.gif',
        imageBtnPrev: '/static/img/prev.gif',
        imageBtnNext: '/static/img/next.gif',
        imageBlank: '/static/img/blank.gif'
      });
    });

block content
  div#project-title.span4.offset6
    h3
      != page.title
    if page.metadata.subtitle
      span
        != page.metadata.subtitle
      br
    if page.metadata.year
      span
        != page.metadata.year
  
  div#project-media.span3
    if contents.projects[page.title].images
      div#project-images
        - var imgs = _.chain(contents.projects[page.title].images._.files).map(function(item){
        -    return item
        -  }).value()
        each im in imgs
          a(href='/'+im.filename)
            img(src='/'+im.filename)

    div#project-video
      iframe(src="http://player.vimeo.com/video/"+page.metadata.video+"?badge=0&amp;color=ffffff",
              width="270", height="203", frameborder="0", 
              webkitAllowFullScreen mozallowfullscreen allowFullScreen )
      


  div#project-content.span6.offset1
    != page.html

  div#project-links.span4.offset6
    if page.metadata.code
      a(href=page.metadata.code) codigo | code 
      br
    if page.metadata.wiki
      a(href=page.metadata.wiki) wiki 
      br

    if page.metadata.images
      a(href=page.metadata.images) imagenes | images 
      br


block footer
  a(href='/') << regresar | back