#header h1 {
  color: #292929;
  margin-bottom: 0px;
}
#header .navbar-inner {
  background-color: transparent;
  background-image: none;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
#header .brand {
  letter-spacing: 2px;
}
#back {
  margin-top: 36px;
}
#project-title {
  text-align: right;
  margin-bottom: 20px;
}
#project-title h3 {
  margin-bottom: 0px;
}
#project-title span {
  color: #817A7A;
  font-weight: bold;
}
#project-images {
  margin-bottom: 15px;
}
#project-images img {
  margin: 5px;
  width: 125px;
}
#project-content {
  margin-bottom: 20px;
}
#project-links {
  text-align: right;
}
body {
  font-size: 12px;
}
h1 {
  font-size: 218%;
}
h2 {
  font-size: 164%;
  margin-bottom: 0px;
}
h3 {
  font-size: 145%;
  margin-bottom: 0px;
}
h4 {
  font-size: 118%;
}
a {
  color: #619391;
  letter-spacing: 1px;
  font-weight: bold;
}
a:hover {
  color: #385654;
  text-decoration: none;
}
ul {
  list-style-type: none;
}
#content {
  margin-bottom: 20px;
}
.bio-inner {
  margin-left: 15px;
}
footer {
  margin-bottom: 60px;
}
