#back {
  margin-top: 36px;
}
#project-title {
  text-align: right;
  margin-bottom: 20px;
}
#project-title h3 {
  margin-bottom: 0px;
}
#project-title span {
  color: #817A7A;
  font-weight: bold;
}
#project-images {
  margin-bottom: 15px;
}
#project-images img {
  margin: 5px;
  width: 125px;
}
#project-content {
  margin-bottom: 20px;
}
#project-links {
  text-align: right;
}
